// COLOR VARS
$color-primary: #00a0ff;
$color-primary_shade: #0068a6;
$color-primary_light: #e5f6fe;

$color-secondary: #ff6c00;
$color-secondary_shade: #ff5900;
$color-secondary_light: rgba(255, 108, 0, 0.5);

$color-third: #6b00ff;

$color-smooth-black: #060606;
$color-grey: #ccc;
$color-grey_max_light: #eaeaea;

$color-ant-grey: #d9d9d9;

$page-background: $color-grey_max_light;

// COMMON VARS
$border-radius-basic: 10px;

$medium-screen: 991px;
$small-screen: 767px;
$mobile-screen: 575px;
