.grid-base {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  grid-template-rows: minmax(1px, auto) 1fr minmax(1px, auto);
}

.header {
  grid-column: 1 / span 12;
}
.page {
  grid-column: 1 / span 12;
}

.banner {
  grid-column: 1 / span 12;
}
